# REQUIREMENTS FOR CONDA INSTALLATION

# INSTALLATION REQUIRED DEPENDENCIES
dtocean-economics =1.1.dev0
dtocean-logistics =1.1.dev1
dtocean-reliability =1.1.dev0
numpy
pandas

# TEST DEPENDENCIES
pytest-cov
pytest-mock
