# REQUIREMENTS FOR CONDA INSTALLATION

# INSTALLATION REQUIRED DEPENDENCIES
dtocean-economics ==1.1.dev1
dtocean-logistics ==1.1.dev3
dtocean-reliability ==1.1.dev1
numpy
pandas >=0.17

# TEST DEPENDENCIES
pytest-cov
pytest-mock
